/*
 * 	Default theme - Owl Carousel CSS File
 *  slightly modified
 */

$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$color-white !default;
// $nav-color-hover:		$color-white !default;
$nav-color-hover:		#234099 !default;
// $nav-font-size: 		14px !default;
$nav-font-size: 		50px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
// $nav-padding: 			4px 7px !default;
$nav-padding: 			12px !default;
// $nav-background: 		$color-gray !default;
$nav-background: 		$color-gray !default;
// $nav-background-hover:	$color-base !default;
$nav-background-hover:	transparent;
$nav-disabled-opacity: 	0.5 !default;

//dots

// $dot-width:				10px !default;
$dot-width:				30px !default;
// $dot-height:			10px !default;
$dot-height:			30px !default;
// $dot-rounded:			30px !default;
$dot-rounded:			90px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
// $dot-background-active:	$color-base !default;
$dot-background-active:	#234099 !default;

@import 'theme';
