/*------------------------------------*\
    .realizations
\*------------------------------------*/
.realizations {
	background-color: #000;
}

	.realizations__wrapper {
		position: relative;
		z-index: 200;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 75px;
		padding-bottom: 75px;
	}

	$bookmarkOffset: percentage(8/100);
	.bookmarkImg[data-project="0"] {
		margin-left: 0 * ($bookmarkOffset + 2%);
		margin-top: 0%;
		z-index: 201;
	}
	
	.bookmarkImg[data-project="1"] {
		margin-left: 1 * ($bookmarkOffset + 2%);
		margin-top: 1%;
		z-index: 199;
	}
	
	.bookmarkImg[data-project="2"] {
		margin-left: 2 * ($bookmarkOffset + 2%);
		margin-top: 2%;
		z-index: 197;
	}
	
	.bookmarkImg[data-project="3"] {
		margin-left: 3 * ($bookmarkOffset + 2%);
		margin-top: 3%;
		z-index: 195;
	}

	.bookmarkImg {
		position: absolute;
		left: 35%;
		transform: rotate(-45deg);
		width: 225px;
		z-index: 202;
		pointer-events: auto;
		user-select: none;
		cursor: pointer;
	}





/*------------------------------------*\
    .showcase
\*------------------------------------*/
		.showcase {
			margin-top: 100px;
			width: 100%;
			margin-bottom: 30px;

			// clearfix
			&::after {
				display: table;
				content: " ";
				clear: both;
			}
		}

			.showcase__stage-wrapper {
				position: relative;
				min-height: 460px;

			}

				.showcase__stage {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 0;
					float: left;
					display: block;
				}

			.carousel-image {
				float: left;
				width: 57%;
			}


			.showcase__infos-wrapper {
				color: #fff;
				float: left;
				margin-left: 3%;
				width: 40%;
				font-size: 16px;
				display: none;
				pointer-events: auto;
				display: block;
			}

				.showcase__title {
					border-bottom: 2px solid rgba(255,255,255,0.1);
					font-size: 38px;
					font-weight: 600;
					padding-left: 30px;
					padding-bottom: 10px;
					margin-top: 5px;
				}

				.showcase__point {
					padding-left: 30px;
					margin-top: 20px;
					position: relative;
				}

				.showcase__point-title {
					font-weight: 500;
					font-size: 20px;
					margin-bottom: 5px;
				}

				.showcase__point-description {
					font-weight: 300;
					font-size: 17px;
					line-height: 1.3;
				}

				.showcase__point-details-excerpt {
					display: inline;
					font-weight: 300;
					font-size: 17px;
					line-height: 1.3;
				}

				.showcase__point-details-full {
					display: inline;
					font-weight: 300;
					font-size: 17px;
					line-height: 1.3;
					display: none;
				}

				.showcase__readmore, .showcase__readless {
					display: inline;
					color: #234099;
					background-color: #363636;
					font-weight: 300;
					padding-left: 6px;
					font-size: 17px;
					line-height: 1.3;
					padding-right: 6px;
					cursor: pointer;
				}

				.showcase__button {
					// display: inline-block;
					float: left;
					margin-left: 30px;
					font-size: 16px;
					font-weight: 300;
					color: rgba(255,255,255,0.9);
					width: 150px;
					height: 44px;
					border-radius: 3px;
					border-width: 1px;
					line-height: 41px;
					text-align: center;
					margin-top: 20px;
					cursor: pointer;
				}

