/*------------------------------------*\
    .hero
\*------------------------------------*/
.hero {
	// position: fixed;
	top: 0;
	left: 0;
	z-index: -500;
	width: 100%;
	height: 1000px;
	overflow: hidden;
	background-attachment: fixed;
}


	.hero__background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -400;
		width: 100%;
		height: 100%;

		background-image: url("../img/hero_background.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.hero__pattern {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -200;
		width: 100%;
		height: 100%;
		opacity: 0.5;

		// background-image: url("../img/hero_pattern.png");
		// background-repeat: repeat-x;
		// background-position: bottom left;
		// background-color: #234099;
	}


	.hero__content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -100;
		width: 100%;
	}

		.hero__content-wrapper {
			width: 100%;
		}

			.hero__title-wrapper {
				margin-top: 135px;
				float: left;
			}

				.hero__title-large {
					color: rgba(255,255,255,0.9);
					font-weight: 700;
					font-size: 100px;
				}

				.hero__title-small {
					color: rgba(255,255,255,0.9);
					font-weight: 700;
					font-size: 55px;
					margin-left: 20px;
					margin-top: 15px;
					//cursor: default;
				}