/*------------------------------------*\
    .experience
\*------------------------------------*/
.experience {
	background-color: #000;
}


	.experience__wrapper {
		position: relative;
		z-index: 200;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 75px;
		padding-bottom: 75px;
	}
	

		.experience__icons-wrapper {
			margin-bottom: 20px;
			
			// clearfix
			&::after {
				display: table;
				content: " ";
				clear: both;
			}
		}

			.experience__icon {
				// cursor: default;
				position: relative;
				margin-top: 100px;
				float: left;
				width: 20%;
				height: 120px;
				background-image: url("../img/exp_html5.svg");
				background-size: 100px 100px;
				background-position: 50%;
				&--html5 { background-image: url("../img/exp/exp_html5.svg"); }
				&--css3 { background-image: url("../img/exp/exp_css3.svg"); }
				&--sass { background-image: url("../img/exp/exp_sass.svg"); }
				&--javascript { background-image: url("../img/exp/exp_javascript.svg"); }
				&--jquery { background-image: url("../img/exp/exp_jquery.svg"); }
				&--node-js { background-image: url("../img/exp/exp_node-js.svg"); }
				&--npm { background-image: url("../img/exp/exp_npm.svg"); }
				&--gulp-js { background-image: url("../img/exp/exp_gulp-js.svg"); }
				&--git { background-image: url("../img/exp/exp_git.svg"); }
			}

				.experience__icon-description {
					display: block;
					position: absolute;
					font-size: 19px;
					font-weight: 400;
					left: 50%;
					bottom: -25px;
					transform: translate(-50%, 0);
					color: #fff;
					width: 200px;
					text-align: center;
				}



