/*------------------------------------*\
    Normalize
\*------------------------------------*/

	@import "normalize-3.0.1";


/*------------------------------------*\
	Preloader
\*------------------------------------*/

	@import "preloader";


/*------------------------------------*\
    General styles
\*------------------------------------*/

	html {
		height: 1500px;
		/* IE 10+ */
		-ms-overflow-style: none;
		/* Firefox 48+ */
		scrollbar-width: none;
	}

	/* Safari & Chrome */
	html::-webkit-scrollbar {
		display: none;
	}

	html, body {
		position: relative;
		display: block;
		width: 100%;
	}

	html {
		font-family: "Roboto", sans-serif;
	}

	body {
		overflow-y: scroll;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	*, ::before, ::after {
		box-sizing: border-box;
		background-repeat: no-repeat;
	}

	::selection {
		background: white;
		color: #234099;
	}

	p, h1, h2, h3, h4, h5, h6, ul, li {
		margin: 0;
		padding: 0;
	}


/*------------------------------------*\
    Site sections
\*------------------------------------*/

	.content {
		position: absolute;
		top: 970px;
		left: 0;
		width: 100%;
	}

	.start {
		font-size: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	.maxwidth1050 {
		font-size: 0;
		position: absolute;
		top: -999px;
		left: -999px;
		display: none;
	}

	@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss"; //responsible for menu icon animation
	@import "../../additional_libraries/OwlCarousel2-2.3.4/src/scss/owl.carousel.scss"; //carousel base
	@import "../../additional_libraries/OwlCarousel2-2.3.4/src/scss/owl.theme.default.scss"; // carousel theme

	@import "block_ghost-button";

	@import "part_header"; //contains PACE plugin styles
	@import "part_hero";
	@import "part_section-header";
	@import "part_experience";
	@import "part_realizations";
	@import "part_contact";

	@import "responsive";



