/*------------------------------------*\
    Normalize
\*------------------------------------*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/
.preloader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

.complete {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader {
  z-index: 1100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}
.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-animation: animateBg 2s linear infinite;
          animation: animateBg 2s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes animateBg {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes animateBg {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
/*------------------------------------*\
    General styles
\*------------------------------------*/
html {
  height: 1500px;
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox 48+ */
  scrollbar-width: none;
}

/* Safari & Chrome */
html::-webkit-scrollbar {
  display: none;
}

html, body {
  position: relative;
  display: block;
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
}

::-moz-selection {
  background: white;
  color: #234099;
}

::selection {
  background: white;
  color: #234099;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
    Site sections
\*------------------------------------*/
.content {
  position: absolute;
  top: 970px;
  left: 0;
  width: 100%;
}

.start {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.maxwidth1050 {
  font-size: 0;
  position: absolute;
  top: -999px;
  left: -999px;
  display: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #234099;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #234099;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Minus
 */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  -webkit-transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}
.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  -webkit-transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}
.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}
.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 300;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  color: #234099;
  background: none;
  border: none;
}
.owl-carousel button.owl-dot {
  display: none;
  visibility: hidden;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 20vh;
}

.owl-prev {
  left: -4%;
}

.owl-next {
  right: -4%;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 *  slightly modified
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 50px;
  margin: 5px;
  padding: 12px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
  color: #234099;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 30px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 90px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #234099;
}

/*------------------------------------*\
    .ghost-button
\*------------------------------------*/
.ghost-button {
  position: relative;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: color 150ms ease 1ms;
  transition: color 150ms ease 1ms;
  vertical-align: middle;
  overflow: hidden;
}

.ghost-button:hover, .ghost-button:focus {
  color: #234099;
  -webkit-transition: color 400ms ease 70ms;
  transition: color 400ms ease 70ms;
}

.ghost-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  display: block;
  background-color: #fff;
  width: 0%;
  height: 0%;
  z-index: -10;
  border-radius: 1000px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: width 200ms ease-out 1ms, height 200ms ease-out;
  transition: width 200ms ease-out 1ms, height 200ms ease-out;
}

.ghost-button:hover::before, .ghost-button:focus::before {
  width: 200px;
  height: 200px;
  -webkit-transition: width 200ms ease-out 1ms, height 200ms ease-out;
  transition: width 200ms ease-out 1ms, height 200ms ease-out;
}

/*------------------------------------*\
    .ghost-button modifiers
\*------------------------------------*/
.ghost-button--realizations:hover::before, .ghost-button--realizations:focus::before {
  width: 250px;
  height: 250px;
}

.ghost-button--contact:hover::before, .ghost-button--contact:focus::before {
  width: 600px;
  height: 600px;
}

/*------------------------------------*\
    .header
\*------------------------------------*/
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.header__wrapper {
  position: relative;
  z-index: 999;
  width: 1200px;
  margin: 0 auto;
}

.header__hamburger {
  position: relative;
  z-index: 150;
  width: 36px;
  float: left;
  margin-top: 19px;
  margin-left: 15px;
  cursor: pointer;
}

.header__hamburger-block {
  background-color: #234099;
  height: 4px;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  margin-bottom: 9px;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}
.header__hamburger-block:last-of-type {
  margin-bottom: 0;
}

.header__navigation {
  position: fixed;
  top: 0px;
  padding: 70px 20px 14px 20px;
  min-width: 300px;
  background-color: rgba(18, 18, 18, 0.9);
  display: none;
  z-index: 100;
}
.header__navigation a {
  display: block;
  padding: 8px 0;
}

.header__navigation-element {
  font-size: 20px;
  font-weight: 600;
  color: white;
  opacity: 0.8;
  padding-left: 35px;
  padding-right: 10px;
  background-size: 20px 20px;
  background-position: 5px top;
  -webkit-transition: padding 100ms ease;
  transition: padding 100ms ease;
}

.header__navigation a:hover .header__navigation-element {
  padding-left: 40px;
}

.header__title-wrapper {
  float: left;
  margin-top: 11px;
  margin-left: 20px;
  position: relative;
  z-index: 200;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__title-main {
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 20px black;
}

.header__title-sub {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 1px;
  text-shadow: 0 0 20px black;
}

.header__social-icons {
  float: right;
  margin-left: 50px;
  margin-top: 16px;
}
.header__social-icons a {
  float: left;
  margin-left: 50px;
  font-size: 31px;
  text-shadow: 0 0 20px black;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
}
.header__social-icons a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/*------------------------------------*\
    .hero
\*------------------------------------*/
.hero {
  top: 0;
  left: 0;
  z-index: -500;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  background-attachment: fixed;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -400;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
}

.hero__content-wrapper {
  width: 100%;
}

.hero__title-wrapper {
  margin-top: 135px;
  float: left;
}

.hero__title-large {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  font-size: 100px;
}

.hero__title-small {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  font-size: 55px;
  margin-left: 20px;
  margin-top: 15px;
}

/*------------------------------------*\
    .section-header
\*------------------------------------*/
.section-header__title {
  color: white;
  font-size: 38px;
  font-weight: 600;
  padding-left: 60px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-size: 40px 40px;
  background-position: 10px top;
  opacity: 1;
}

.section-header__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 200;
  padding-top: 5px;
  padding-left: 100px;
}

/*------------------------------------*\
    .experience
\*------------------------------------*/
.experience {
  background-color: #000;
}

.experience__wrapper {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.experience__icons-wrapper {
  margin-bottom: 20px;
}
.experience__icons-wrapper::after {
  display: table;
  content: " ";
  clear: both;
}

.experience__icon {
  position: relative;
  margin-top: 100px;
  float: left;
  width: 20%;
  height: 120px;
  background-image: url("../img/exp_html5.svg");
  background-size: 100px 100px;
  background-position: 50%;
}
.experience__icon--html5 {
  background-image: url("../img/exp/exp_html5.svg");
}
.experience__icon--css3 {
  background-image: url("../img/exp/exp_css3.svg");
}
.experience__icon--sass {
  background-image: url("../img/exp/exp_sass.svg");
}
.experience__icon--javascript {
  background-image: url("../img/exp/exp_javascript.svg");
}
.experience__icon--jquery {
  background-image: url("../img/exp/exp_jquery.svg");
}
.experience__icon--node-js {
  background-image: url("../img/exp/exp_node-js.svg");
}
.experience__icon--npm {
  background-image: url("../img/exp/exp_npm.svg");
}
.experience__icon--gulp-js {
  background-image: url("../img/exp/exp_gulp-js.svg");
}
.experience__icon--git {
  background-image: url("../img/exp/exp_git.svg");
}

.experience__icon-description {
  display: block;
  position: absolute;
  font-size: 19px;
  font-weight: 400;
  left: 50%;
  bottom: -25px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #fff;
  width: 200px;
  text-align: center;
}

/*------------------------------------*\
    .realizations
\*------------------------------------*/
.realizations {
  background-color: #000;
}

.realizations__wrapper {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.bookmarkImg[data-project="0"] {
  margin-left: 0%;
  margin-top: 0%;
  z-index: 201;
}

.bookmarkImg[data-project="1"] {
  margin-left: 10%;
  margin-top: 1%;
  z-index: 199;
}

.bookmarkImg[data-project="2"] {
  margin-left: 20%;
  margin-top: 2%;
  z-index: 197;
}

.bookmarkImg[data-project="3"] {
  margin-left: 30%;
  margin-top: 3%;
  z-index: 195;
}

.bookmarkImg {
  position: absolute;
  left: 35%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 225px;
  z-index: 202;
  pointer-events: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

/*------------------------------------*\
    .showcase
\*------------------------------------*/
.showcase {
  margin-top: 100px;
  width: 100%;
  margin-bottom: 30px;
}
.showcase::after {
  display: table;
  content: " ";
  clear: both;
}

.showcase__stage-wrapper {
  position: relative;
  min-height: 460px;
}

.showcase__stage {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  float: left;
  display: block;
}

.carousel-image {
  float: left;
  width: 57%;
}

.showcase__infos-wrapper {
  color: #fff;
  float: left;
  margin-left: 3%;
  width: 40%;
  font-size: 16px;
  display: none;
  pointer-events: auto;
  display: block;
}

.showcase__title {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 38px;
  font-weight: 600;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-top: 5px;
}

.showcase__point {
  padding-left: 30px;
  margin-top: 20px;
  position: relative;
}

.showcase__point-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.showcase__point-description {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3;
}

.showcase__point-details-excerpt {
  display: inline;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3;
}

.showcase__point-details-full {
  display: inline;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3;
  display: none;
}

.showcase__readmore, .showcase__readless {
  display: inline;
  color: #234099;
  background-color: #363636;
  font-weight: 300;
  padding-left: 6px;
  font-size: 17px;
  line-height: 1.3;
  padding-right: 6px;
  cursor: pointer;
}

.showcase__button {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border-width: 1px;
  line-height: 41px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

/*------------------------------------*\
    .contact
\*------------------------------------*/
.contact {
  background-color: #000;
}

.contact__wrapper {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

/*------------------------------------*\
	.contact icons
\*------------------------------------*/
.contact__icons-wrapper {
  margin-top: 100px;
  text-align: center;
}

.contact__icon {
  display: inline-block;
  width: 33%;
}
.contact__icon a {
  display: block;
  height: 100%;
  width: 100%;
}
.contact__icon .fa {
  font-size: 100px;
  color: white;
}

.contact__icon-description {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

/*------------------------------------*\
	.contact forms
\*------------------------------------*/
.contact__form {
  margin-top: 100px;
  text-align: center;
}
.contact__form::after {
  display: table;
  content: " ";
  clear: both;
}

.contact__label {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px;
}

.contact__spacer {
  font-size: 0;
  width: 68%;
  margin: 0 auto;
  margin-top: 100px;
  height: 2px;
  background: rgba(255, 255, 255, 0.05);
}

/*------------------------------------*\
	.contact message textarea
\*------------------------------------*/
.contact__textarea-wrapper {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0;
}
.contact__textarea-wrapper textarea {
  font-weight: 300;
  margin-top: 5px;
  resize: vertical;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 15px;
  padding: 15px 15px 15px 15px;
  -webkit-transition: outline 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: outline 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, outline 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, outline 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}
.contact__textarea-wrapper textarea:invalid {
  outline-color: red;
}
.contact__textarea-wrapper textarea:valid {
  outline-color: black;
}

/*------------------------------------*\
	.contact bottom
\*------------------------------------*/
.contact__sender-info-wrapper {
  display: inline-block;
  width: 50%;
  font-size: 0;
  text-align: left;
  float: left;
}

.contact__input-wrapper {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.contact__input-wrapper input {
  font-weight: 300;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 15px;
  padding: 15px 15px 15px 15px;
  -webkit-transition: outline 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: outline 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, outline 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, outline 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}
.contact__input-wrapper input:invalid {
  outline-color: red;
}
.contact__input-wrapper input:valid {
  outline-color: black;
}

/*------------------------------------*\
	.contact button
\*------------------------------------*/
.contact__button-wrapper {
  width: 46%;
  height: 139px;
  font-size: 24px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  margin-top: 43px;
  display: inline-block;
  float: right;
  position: relative;
  overflow: hidden;
}
.contact__button-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  line-height: 44px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.contact__button-wrapper::after {
  display: table;
  content: " ";
  clear: both;
}

.contact__button-wrapper--sent {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  cursor: default;
}
.contact__button-wrapper--sent input {
  cursor: default !important;
}

.contact__paper-plane-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 0;
  -webkit-transition: -webkit-transform 600ms ease-in;
  transition: -webkit-transform 600ms ease-in;
  transition: transform 600ms ease-in;
  transition: transform 600ms ease-in, -webkit-transform 600ms ease-in;
}
.contact__paper-plane-wrapper .fa-paper-plane {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  font-size: 70px;
}

.contact__paper-plane-wrapper--takeoff {
  -webkit-transform: translateY(-50%) translateX(400%);
          transform: translateY(-50%) translateX(400%);
}

.contact__paper-plane-wrapper--takeoff .fa-paper-plane {
  -webkit-transform: translateY(-5%) rotate(49deg);
          transform: translateY(-5%) rotate(49deg);
}

.contact__button-wrapper:hover .contact__paper-plane-wrapper .fa-paper-plane {
  -webkit-transform: translateY(-5%) rotate(49deg);
          transform: translateY(-5%) rotate(49deg);
}

/*------------------------------------*\
	.contact ajax response
\*------------------------------------*/
.contact__response {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.contact__response-title {
  font-size: 24px;
  font-weight: 600;
}

.contact__response-description {
  font-size: 18px;
  font-weight: 400;
}

.contact__response-ajax-text {
  color: red;
  margin-left: 7px;
  padding-left: 4px;
  display: inline-block;
  display: none;
  font-size: 15px;
}
.contact__response-ajax-text::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  content: "\f071";
  margin-right: 5px;
  font-size: 15px;
}

/*------------------------------------*\
	(max-width: 1300px)
\*------------------------------------*/
@media (max-width: 1300px) {
  .experience__wrapper {
    max-width: 960px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .realizations__wrapper {
    max-width: 960px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .contact__wrapper {
    max-width: 960px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .hero__content-wrapper {
    max-width: 960px;
  }

  .hero__title-wrapper {
    margin-top: 140px;
    float: left;
  }

  .hero__title-large {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 80px;
  }

  .hero__title-small {
    font-size: 45px;
  }

  .hero__photo-wrapper {
    margin-top: 110px;
  }

  .hero__photo {
    width: 220px;
    height: 220px;
  }

  .hero__description {
    font-size: 21px;
    padding-top: 70px;
  }

  .hero__call-to-action {
    padding-top: 80px;
  }

  .hero__button {
    font-size: 21px;
    padding: 12px 50px 12px 50px;
  }

  .hero__scroll {
    font-size: 21px;
    margin-left: 40px;
  }

  .experience::after {
    height: 1060px;
  }

  .features__elements-wrapper {
    margin-top: 50px;
  }

  .features__element {
    width: 45.9%;
    margin-top: 40px;
    margin-left: 2%;
    height: 160px;
  }

  .features__image {
    background-size: 90px 90px;
  }

  .bookmarkImg {
    width: 183px;
  }

  .showcase__title {
    font-size: 32px;
  }

  .showcase__point-title {
    font-size: 18px;
    margin-bottom: 1px;
  }

  .showcase__point {
    margin-top: 10px;
  }

  .showcase__point-description,
  .showcase__point-details-excerpt,
  .showcase__point-details-full {
    font-size: 15px;
    line-height: 1.2;
  }

  .showcase__readmore,
  .showcase__readless {
    font-size: 15px;
  }

  .showcase__button {
    margin-left: 30px;
    font-size: 15px;
    width: 110px;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    margin-top: 15px;
  }

  .contact__spacer {
    margin-top: 75px;
  }

  .contact__form {
    margin-top: 75px;
  }
}
/*------------------------------------*\
	(max-width: 1050px)
\*------------------------------------*/
@media (max-width: 1050px) {
  .experience__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 75px;
    padding-bottom: 25px;
  }

  .realizations__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 75px;
    padding-bottom: 25px;
  }

  .contact__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 75px;
    padding-bottom: 25px;
  }

  .experience::after {
    height: 1020px;
  }

  .experience__icons-wrapper {
    padding-left: 3%;
    padding-right: 3%;
  }

  .showcase {
    margin-bottom: 0;
  }

  .contact__spacer {
    margin-top: 50px;
  }

  .contact__form {
    margin-top: 50px;
  }
}
/*------------------------------------*\
	(max-width: 960px)
\*------------------------------------*/
@media (max-width: 960px) {
  .features__element {
    display: block;
    width: 100%;
    margin-top: 50px;
    height: auto;
  }

  .hero__photo {
    width: 190px;
    height: 190px;
  }

  .experience__icon {
    width: 25%;
  }

  .section-header__subtitle {
    padding-left: 60px;
  }
}
/*------------------------------------*\
	(max-width: 940px)
\*------------------------------------*/
@media (max-width: 940px) {
  .hero__title-large {
    font-size: 68px;
  }

  .hero__title-small {
    font-size: 38px;
  }

  .hero__description {
    font-size: 18px;
    padding-top: 60px;
  }

  .showcase__button {
    width: 125px;
  }
}
/*------------------------------------*\
	(max-width: 890px)
\*------------------------------------*/
@media (max-width: 890px) {
  .hero__title-large {
    font-size: 65px;
  }

  .hero__title-small {
    font-size: 35px;
  }

  .hero__photo {
    width: 180px;
    height: 180px;
  }

  .hero__button,
  .hero__scroll {
    font-size: 18px;
  }

  .hero__scroll {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }

  .contact__icon {
    width: 32%;
  }
  .contact__icon .fa {
    font-size: 80px;
    color: white;
  }

  .contact__icon-description {
    font-size: 16px;
  }
}
/*------------------------------------*\
	(max-width: 840px)
\*------------------------------------*/
@media (max-width: 840px) {
  .hero__title-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 70px;
  }

  .hero__title-large {
    font-size: 75px;
  }

  .hero__title-small {
    font-size: 45px;
  }

  .hero__photo-wrapper {
    margin-top: 80px;
    float: left;
    width: 100%;
    display: block;
  }

  .hero__photo {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
}
/*------------------------------------*\
	(max-width: 860px)
\*------------------------------------*/
@media (max-width: 860px) {
  .experience__icon {
    width: 33%;
  }

  .bookmarkImg {
    width: 26%;
  }

  .carousel-image {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .showcase__infos-wrapper {
    float: left;
    width: 80%;
    font-size: 16px;
    clear: both;
    margin-top: 40px;
    margin-left: 10%;
    text-align: left;
  }

  .showcase__title {
    font-size: 36px;
    padding-left: 0;
  }

  .showcase__point-title {
    padding-left: 0;
  }

  .showcase__point {
    padding-left: 0;
  }

  .showcase__point-description,
  .showcase__point-details-excerpt,
  .showcase__point-details-full {
    padding-left: 0;
    font-size: 17px;
  }

  .showcase__readmore,
  .showcase__readless {
    font-size: 17px;
  }

  .showcase__button {
    margin-left: 15px;
    font-size: 15px;
    width: 200px;
    height: 41px;
    font-size: 15px;
    line-height: 43px;
    margin-top: 20px;
  }
}
/*------------------------------------*\
	(max-width: 720px)
\*------------------------------------*/
@media (max-width: 720px) {
  .footer__copyright {
    float: left;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .footer__hosting {
    margin-top: 40px;
    width: 100%;
    background-size: contain;
    float: left;
    clear: left;
    background-position: center;
  }

  .contact__sender-info-wrapper {
    display: block;
    width: 100%;
  }

  .contact__button-wrapper {
    width: 100%;
    margin-top: 50px;
    display: block;
  }

  .ghost-button--contact:hover::before, .ghost-button--contact:focus::before {
    width: 700px;
    height: 700px;
  }

  .contact__response-title {
    font-size: 21px;
  }

  .contact__response-description {
    font-size: 14px;
  }

  .contact__response-ajax-text {
    font-size: 13px;
  }
  .contact__response-ajax-text::before {
    font-size: 13px;
  }

  .owl-prev {
    left: -5%;
  }

  .owl-next {
    right: -5%;
  }
}
/*------------------------------------*\
	(max-width: 620px)
\*------------------------------------*/
@media (max-width: 620px) {
  .hero__title-large {
    font-size: 65px;
  }

  .hero__title-small {
    font-size: 35px;
  }

  .hero__photo {
    width: 250px;
    height: 250px;
  }

  .experience__icon {
    width: 50%;
  }

  .experience__icons-wrapper {
    padding-left: 8%;
    padding-right: 8%;
  }

  .contact__icon {
    margin-top: 60px;
    display: block;
    width: 100%;
  }
  .contact__icon:first-of-type {
    margin-top: 0;
  }
  .contact__icon .fa {
    font-size: 90px;
    color: white;
  }

  .contact__icon-description {
    font-size: 20px;
  }
}
/*------------------------------------*\
	(max-width: 500px)
\*------------------------------------*/
@media (max-width: 500px) {
  .experience__icons-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  .features__image {
    background-size: contain;
    margin-right: 10px;
  }

  .section-header__title {
    font-size: 30px;
    background-size: 32px 32px;
    padding-left: 50px;
  }

  .section-header__subtitle {
    font-size: 20px;
    padding-left: 20px;
  }
}
/*------------------------------------*\
	(max-width: 400px)
\*------------------------------------*/
@media (max-width: 400px) {
  .hero__photo {
    width: 200px;
    height: 200px;
  }
}
/*------------------------------------*\
	(max-width: 400px)
\*------------------------------------*/
@media (max-width: 400px) {
  .features__title {
    font-size: 20px;
  }

  .experience__icon {
    width: 100%;
  }
}
/*------------------------------------*\
	HEIGHTS for (min-width: 1050px)
\*------------------------------------*/
/*------------------------------------*\
	(max-height: 850px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 850px) {
  .hero__title-wrapper {
    margin-top: 100px;
    float: left;
  }

  .hero__photo-wrapper {
    margin-top: 70px;
    float: right;
  }

  .hero__photo {
    width: 200px;
    height: 200px;
  }

  .hero__description {
    font-size: 21px;
    padding-top: 80px;
  }

  .hero__call-to-action {
    padding-top: 80px;
  }
}
/*------------------------------------*\
	(max-height: 800px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 800px) {
  .hero__title-wrapper {
    margin-top: 90px;
    float: left;
  }

  .hero__photo-wrapper {
    margin-top: 60px;
    float: right;
  }

  .hero__photo {
    width: 200px;
    height: 200px;
  }

  .hero__description {
    font-size: 21px;
    padding-top: 80px;
  }

  .hero__call-to-action {
    padding-top: 80px;
  }
}
/*------------------------------------*\
	(max-height: 750px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 750px) {
  .hero__title-wrapper {
    margin-top: 70px;
    float: left;
  }

  .hero__photo-wrapper {
    margin-top: 40px;
    float: right;
  }

  .hero__photo {
    width: 200px;
    height: 200px;
  }

  .hero__description {
    font-size: 20px;
    padding-top: 60px;
  }

  .hero__call-to-action {
    padding-top: 60px;
  }
}
/*------------------------------------*\
	(max-height: 700px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 700px) {
  .hero__title-wrapper {
    margin-top: 60px;
    float: left;
  }

  .hero__photo-wrapper {
    margin-top: 30px;
    float: right;
  }

  .hero__photo {
    width: 200px;
    height: 200px;
  }

  .hero__description {
    font-size: 19px;
    padding-top: 50px;
  }

  .hero__call-to-action {
    padding-top: 50px;
  }
}
/*------------------------------------*\
	(max-height: 650px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 650px) {
  .hero__title-wrapper {
    margin-top: 60px;
    float: left;
  }

  .hero__title-large {
    font-size: 70px;
  }

  .hero__title-small {
    font-size: 40px;
  }

  .hero__photo-wrapper {
    margin-top: 30px;
    float: right;
  }

  .hero__photo {
    width: 190px;
    height: 190px;
  }

  .hero__description {
    font-size: 19px;
    padding-top: 40px;
  }

  .hero__call-to-action {
    padding-top: 40px;
  }

  .hero__button,
  .hero__scroll {
    font-size: 19px;
  }
}
/*------------------------------------*\
	(max-height: 600px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 600px) {
  .hero__title-wrapper {
    margin-top: 40px;
    float: left;
  }

  .hero__photo-wrapper {
    margin-top: 20px;
    float: right;
  }

  .hero__photo {
    width: 170px;
    height: 170px;
  }

  .hero__description {
    font-size: 19px;
    padding-top: 30px;
  }

  .hero__call-to-action {
    padding-top: 30px;
  }
}
/*------------------------------------*\
	(max-height: 550px)
\*------------------------------------*/
@media (min-width: 1050px) and (max-height: 550px) {
  .hero__title-wrapper {
    margin-top: 30px;
    float: left;
  }

  .hero__title-large {
    font-size: 60px;
  }

  .hero__title-small {
    font-size: 35px;
  }

  .hero__photo-wrapper {
    margin-top: 10px;
    float: right;
  }

  .hero__photo {
    width: 160px;
    height: 160px;
  }

  .hero__description {
    font-size: 17px;
    padding-top: 25px;
  }

  .hero__call-to-action {
    padding-top: 25px;
  }

  .hero__button,
  .hero__scroll {
    font-size: 17px;
  }
}
/*------------------------------------*\
	HEIGHTS for (min-width: 1300px)
\*------------------------------------*/
/*------------------------------------*\
	(max-height: 900px)
\*------------------------------------*/
@media (min-width: 1300px) and (max-height: 900px) {
  .hero__title-wrapper {
    margin-top: 120px;
  }

  .hero__title-large {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 100px;
  }

  .hero__title-small {
    font-size: 55px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .hero__photo-wrapper {
    margin-top: 70px;
  }

  .hero__photo {
    width: 260px;
    height: 260px;
  }

  .hero__description {
    font-size: 22px;
    line-height: 1.7;
    padding-top: 60px;
  }

  .hero__call-to-action {
    padding-top: 70px;
  }

  .hero__button {
    font-size: 21px;
    padding: 13px 50px 13px 50px;
  }

  .hero__scroll {
    font-size: 21px;
  }
}
/*------------------------------------*\
	(max-height: 800px)
\*------------------------------------*/
@media (min-width: 1300px) and (max-height: 800px) {
  .hero__title-wrapper {
    margin-top: 80px;
  }

  .hero__photo-wrapper {
    margin-top: 55px;
  }

  .hero__description {
    padding-top: 40px;
  }

  .hero__call-to-action {
    padding-top: 50px;
  }
}
/*------------------------------------*\
	(max-height: 750px)
\*------------------------------------*/
@media (min-width: 1300px) and (max-height: 750px) {
  .hero__title-wrapper {
    margin-left: 30px;
    float: left;
  }

  .hero__title-large {
    font-size: 78px;
  }

  .hero__title-small {
    font-size: 50px;
  }

  .hero__photo-wrapper {
    margin-right: 60px;
    float: right;
  }

  .hero__photo {
    width: 200px;
    height: 200px;
  }

  .hero__description {
    font-size: 20px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .hero__button {
    padding: 12px 50px 12px 50px;
  }

  .hero__scroll {
    margin-left: 40px;
  }
}
/*------------------------------------*\
	(max-height: 700px)
\*------------------------------------*/
@media (min-width: 1300px) and (max-height: 700px) {
  .hero__title-wrapper {
    margin-top: 65px;
  }

  .hero__photo-wrapper {
    margin-top: 45px;
  }

  .hero__description {
    padding-top: 30px;
  }

  .hero__call-to-action {
    padding-top: 40px;
  }
}
/*------------------------------------*\
	(max-height: 700px)
\*------------------------------------*/
@media (min-width: 1300px) and (max-height: 600px) {
  .hero__title-wrapper {
    margin-top: 50px;
  }

  .hero__photo-wrapper {
    margin-top: 30px;
  }

  .hero__description {
    padding-top: 20px;
  }

  .hero__call-to-action {
    padding-top: 30px;
  }
}
/*------------------------------------*\
	Animated gradient window
	resolutions fixes
\*------------------------------------*/
@-webkit-keyframes HeroGradientRWD_a {
  0% {
    -webkit-transform: translate(-75%, -75%);
            transform: translate(-75%, -75%);
  }
  100% {
    -webkit-transform: translate(-5%, -5%);
            transform: translate(-5%, -5%);
  }
}
@keyframes HeroGradientRWD_a {
  0% {
    -webkit-transform: translate(-75%, -75%);
            transform: translate(-75%, -75%);
  }
  100% {
    -webkit-transform: translate(-5%, -5%);
            transform: translate(-5%, -5%);
  }
}
@media (max-width: 1850px) {
  .hero__gradient {
    -webkit-animation-name: HeroGradientRWD_a;
            animation-name: HeroGradientRWD_a;
  }
}
@-webkit-keyframes HeroGradientRWD_b {
  0% {
    -webkit-transform: translate(-80%, -80%);
            transform: translate(-80%, -80%);
  }
  100% {
    -webkit-transform: translate(-16%, -16%);
            transform: translate(-16%, -16%);
  }
}
@keyframes HeroGradientRWD_b {
  0% {
    -webkit-transform: translate(-80%, -80%);
            transform: translate(-80%, -80%);
  }
  100% {
    -webkit-transform: translate(-16%, -16%);
            transform: translate(-16%, -16%);
  }
}
@media (max-width: 1750px) {
  .hero__gradient {
    -webkit-animation-name: HeroGradientRWD_b;
            animation-name: HeroGradientRWD_b;
  }
}
@-webkit-keyframes HeroGradientRWD_c {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-22%, -22%);
            transform: translate(-22%, -22%);
  }
}
@keyframes HeroGradientRWD_c {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-22%, -22%);
            transform: translate(-22%, -22%);
  }
}
@media (max-width: 1600px) {
  .hero__gradient {
    -webkit-animation-name: HeroGradientRWD_c;
            animation-name: HeroGradientRWD_c;
  }
}
@-webkit-keyframes HeroGradientRWD_d {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-27%, -27%);
            transform: translate(-27%, -27%);
  }
}
@keyframes HeroGradientRWD_d {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-27%, -27%);
            transform: translate(-27%, -27%);
  }
}
@media (max-width: 1370px) {
  .hero__gradient {
    -webkit-animation-name: HeroGradientRWD_d;
            animation-name: HeroGradientRWD_d;
  }
}
@-webkit-keyframes HeroGradientRWD_e {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-34%, -34%);
            transform: translate(-34%, -34%);
  }
}
@keyframes HeroGradientRWD_e {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-34%, -34%);
            transform: translate(-34%, -34%);
  }
}
@media (max-width: 1250px) {
  .hero__gradient {
    -webkit-animation-name: HeroGradientRWD_e;
            animation-name: HeroGradientRWD_e;
  }
}
@-webkit-keyframes HeroGradientRWD_f {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-42%, -42%);
            transform: translate(-42%, -42%);
  }
}
@keyframes HeroGradientRWD_f {
  0% {
    -webkit-transform: translate(-70%, -70%);
            transform: translate(-70%, -70%);
  }
  100% {
    -webkit-transform: translate(-42%, -42%);
            transform: translate(-42%, -42%);
  }
}
@media (max-width: 1070px) {
  .hero__gradient {
    -webkit-animation-name: HeroGradientRWD_f;
            animation-name: HeroGradientRWD_f;
  }
}
@media (max-width: 960px) {
  .hero__gradient {
    -webkit-animation-name: none;
            animation-name: none;
    background-image: linear-gradient(to bottom right, #00223e, #ffa17f 960px);
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=global.css.map */